body{
	background:	#c9dbe9;
	height: 100%;
    	margin: 0;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
	
	background-image: linear-gradient(#c9dbe9, #fff);
	
}
	
div.topbar {
	background-color:		white;	
	border-width:			4px;
	border-color:			black;
	border-bottom-style:	groove;	
	margin:					-1% -1% 1% -1%;
}

div.location {

	width:					150px;
	float:					right;
	margin:					1.5% 0% 0% 0%;
}

div.user {
	margin:					0% 90% 0% 0%;
	width:					10%;
	
}

div.nav {
	float:					right;
	margin:					5% 0% 0% 0%;
}

div.profilePic {
	margin:					0% 0% -3% 0%;
	clear:					left;
	
}

div.feed {	
	border-radius: 			15px;
	background-color:		white;	
	border-width:	 		5px;
	border-color: 			gray;
	border-style:			outset;
	width:					75%;
	padding:				1%;
	margin:					0%	auto 1% auto;
	min-height:440px;
}

div.profileBar {
	border-radius: 			15px;
	border-width:			2px;
	border-color:			black;
	border-style:			solid;
	padding:				0px 10px 20px 10px;
	margin:					0px 0px 30px 0px;
}

div.profileInfo {
	border-radius: 			15px;
	border-width:			1px;
	border-color:			black;
	border-style:			inset;
	width:					400px;
	float:					right;	
}

div.profileBarPic {
	
	padding:				20px 0px 0px 0px;
}

div.schedule {
	border-radius: 			15px;
	border-width:			2px;
	border-color:			black;
	border-style:			solid;
	width:					400px;
	float:					right;	
}

div.friendFeed {
	
	border-width:			1px;
	border-color:			white;
	border-style:			solid;
	margin:					0px 420px 100px 0px;
}

div.friend {

	 -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
	
	background-color: white;
	border-radius: 			15px;
	border-width:			3px;
	border-color:			black;
	border-bottom-style:			solid;	
	padding:				0px 10px 0px 10px;
}
div.friend:hover, div.friend:focus, div.friend:active{
	
	 -webkit-transform: scale(1.1);
  transform: scale(1.1);
	 
        -webkit-transition: background-color 500ms ease-out;
        -moz-transition: background-color 500ms ease-out;
        -o-transition: background-color 500ms ease-out;
        -ms-transition: background-color 500ms ease-out;
        transition: background-color 500ms ease-out;
	background-color: #c9dbe9;
}

div.friendProfilePic {
	
	width:					50px;
	float:					right;
	margin:					30px 0px 0px 0px;
}

div.friendInfo {
	margin:					0px 70px 0px 0px;
	padding:				0px 0px 0px 10px;
}

div.post {
	border-width:			2px;
	border-color:			black;
	border-style:			solid;	
	padding:				10px;
	margin:					0px 0px 10px 0px;
}

div.postUser {
	border-width:			1px;
	border-color:			black;
	border-bottom-style:	solid;
	margin:					0px -10px 0px -10px;
}

div.postUserProfilePic {
	margin:					0px 0px 0px 10px;
}

div.postUserName {
	width:					50px;
	float:					right;
	margin:					0px 1070px 0px 0px;
}

div.footer {
	background-color:		white;
	border-radius: 			10px;	
	text-align:				center;
	left: 12%;
	border-width:			3px;
	border-color:			black;
	border-style:			groove;	
	bottom: 0;
	height: 20px;
	width:					76%;
	margin:					0px auto 0px auto;
	clear: both;
}

table{
	border:				2px solid black;
	
	border-collapse: 	collapse;
	text-align:			center;
	margin:				auto;
	width:				60%;
	height:				140%;
	font-size:			16px;
}

td{
	border:				2px solid black;
	padding:			20px;
	border-collapse: 	collapse;
	background-color:	white;
}

th{
	border:				2px solid black;
	padding:			20px;
	border-collapse: 	collapse;
	background-color:	#dddddd;
}

#map{
	margin: 			auto;
	margin-bottom:		2%;
	width: 				60%;
	height: 			500px;
	border: 			1px solid black;
}

#locationDiv{
	text-align:			center;
}

h1, h2 {
	text-align:		center;
}

