body{
	background-color:	#b5ff71;	
}
	
div.topbar {
	background-color:		white;	
	border-width:			4px;
	border-color:			black;
	border-bottom-style:	groove;	
	margin:					-8px -10px 20px -10px;
}

div.location {
	width:					230px;
	float:					right;
	margin:					10px 0px 0px 0px;
}

div.user {
	margin:					0px 730px 0px 0px;
}

div.nav {
	width:					200px;
	float:					right;
	margin:					10px 0px 0px 0px;
}

div.profilePic {
	margin:					0px 0px -7px 0px;
}

div.feed {
	background-color:		white;	
	border-width:	 		3px;
	border-color: 			black;
	border-style:			solid;
	width:					900px;
	padding:				10px 10px 20px 10px;
	margin:					0px	auto 20px auto;
}

div.profileBar {
	border-width:			2px;
	border-color:			black;
	border-style:			solid;
	padding:				0px 10px 20px 10px;
	margin:					0px 0px 30px 0px;
}

div.profileInfo {
	border-width:			1px;
	border-color:			black;
	border-style:			inset;
	width:					400px;
	float:					right;	
}

div.profileBarPic {
	padding:				20px 0px 0px 0px;
	margin:					0px 0px 50px 0px;
}

div.schedule {
	border-width:			2px;
	border-color:			black;
	border-style:			solid;
	width:					400px;
	float:					right;	
}

div.friendFeed {
	border-width:			1px;
	border-color:			black;
	border-style:			solid;
	margin:					0px 420px 200px 0px;
}

div.friend {
	border-width:			1px;
	border-color:			black;
	border-style:			solid;	
	padding:				0px 10px 0px 10px;
}

div.friendProfilePic {
	width:					50px;
	float:					right;
	margin:					30px 0px 0px 0px;
}

div.friendInfo {
	margin:					0px 70px 0px 0px;
	padding:				0px 0px 0px 10px;
}

div.post {
	border-width:			2px;
	border-color:			black;
	border-style:			solid;	
	padding:				10px;
	margin:					0px 0px 10px 0px;
}

div.postUser {
	border-width:			1px;
	border-color:			black;
	border-bottom-style:	solid;
	margin:					0px 0px 0px -10px;
}

div.postUserProfilePic {
	margin:					0px 0px 0px 10px;
}

div.postUserName {	
	width:					200px;
	float:					right;
	margin:					-15px 600px 0px 0px;
}

div.footer {
	background-color:		white;	
	text-align:				center;
	border-width:			3px;
	border-color:			black;
	border-style:			groove;	
	width:					920px;
	margin:					0px auto 0px auto;
}

table{
	border:				2px solid black;
	border-collapse: 	collapse;
	text-align:			center;
	margin:				auto;
	width:				88%;
	height:				200%;
	font-size:			16px;
}

td{
	border:				2px solid black;
	padding:			20px;
	border-collapse: 	collapse;
	background-color:	white;
}

th{
	border:				2px solid black;
	padding:			20px;
	border-collapse: 	collapse;
	background-color:	#dddddd;
}

#map{
	padding:			5px 5px 5px 5px;
	margin:				0px	5px	20px 5px;
	width:				100%;
	height:				100px;
	text-align:			center;
}

h1, h2 {
	text-align:		center;
	font-family:	Impact, sans-serif;
}

h1 {
	font-size:		60px;	
}

h2 {
	font-size:		50px;
}

h3 {
	font-size:		30px;
}

p, a, li {
	font-family:	Impact, sans-serif;	
	font-size:		30px;
}
